In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [131]:
start_time = datetime.datetime.today()

In [132]:
df_train_data = pd.read_csv('train_time_series.csv', index_col=0)
df_train_labels = pd.read_csv('train_labels.csv', index_col=0)

df_test_data = pd.read_csv('test_time_series.csv', index_col=0)
df_test_labels = pd.read_csv('test_labels.csv', index_col=0)

In [133]:
#df_train_data.head()
df_train_data.head()

,timestamp,UTC time,accuracy,x,y,z
20586,1565109930787,2019-08-06T16:45:30.787,unknown,-0.006485,-0.934860,-0.069046
20587,1565109930887,2019-08-06T16:45:30.887,unknown,-0.066467,-1.015442,0.089554
20588,1565109930987,2019-08-06T16:45:30.987,unknown,-0.043488,-1.021255,0.178467
20589,1565109931087,2019-08-06T16:45:31.087,unknown,-0.053802,-0.987701,0.068985
20590,1565109931188,2019-08-06T16:45:31.188,unknown,-0.054031,-1.003616,0.126450

In [134]:
df_train_labels.head()
#len(df_train_labels)

           timestamp                 UTC time  label
20589  1565109931087  2019-08-06T16:45:31.087      1
20599  1565109932090  2019-08-06T16:45:32.090      1
20609  1565109933092  2019-08-06T16:45:33.092      1
20619  1565109934094  2019-08-06T16:45:34.094      1
20629  1565109935097  2019-08-06T16:45:35.097      1

In [135]:
train_labels = pd.concat([pd.concat([pd.DataFrame({'label' : [df_train_labels.loc[index]['label'] for i in range(0,10)]}, index=[index + i for i in range(0,10)])]) for index in df_train_labels.index])

In [136]:
train_data = df_train_data.join(train_labels, how='left').dropna()
train_data

,timestamp,UTC time,accuracy,x,y,z,label
20589,1565109931087,2019-08-06T16:45:31.087,unknown,-0.053802,-0.987701,0.068985,1.0
20590,1565109931188,2019-08-06T16:45:31.188,unknown,-0.054031,-1.003616,0.126450,1.0
20591,1565109931288,2019-08-06T16:45:31.288,unknown,-0.010880,-0.967575,0.170898,1.0
20592,1565109931388,2019-08-06T16:45:31.388,unknown,0.052841,-0.982330,0.235565,1.0
20593,1565109931488,2019-08-06T16:45:31.488,unknown,0.032974,-1.053207,0.256714,1.0
...,...,...,...,...,...,...,...
24325,1565110305638,2019-08-06T16:51:45.638,unknown,0.024384,-0.710709,0.030304,4.0
24326,1565110305738,2019-08-06T16:51:45.738,unknown,0.487228,-1.099136,-0.015213,4.0
24327,1565110305838,2019-08-06T16:51:45.838,unknown,0.369446,-0.968506,0.036713,4.0
24328,1565110305939,2019-08-06T16:51:45.939,unknown,0.167877,-0.802826,0.049805,4.0
24329,1565110306039,2019-08-06T16:51:46.039,unknown,0.689346,-0.991043,0.034973,4.0

In [160]:
X = train_data[['x','y','z']]
y = train_data['label']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [161]:
clf = RandomForestClassifier(max_depth=4)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [162]:
y_pred = clf.predict(X_test)

In [163]:
accuracy_score(y_test,y_pred)

0.6126447016918967